<style>
      html {
        --dark_background: #222;
        --dark_font: #bbb;
        --dark_h4: #999;
        --dark_em: #999;
        --dark_math: PaleTurquoise;
        
        --light_background: LightYellow;       
        --light_font: #333;
        --light_h4: #555;
        --light_em: #555;
        --light_math: RoyalBlue;
        
        color-scheme: light dark;
        
        --background_color: light-dark(var(--light_background), var(--dark_background));
        --font_color: light-dark(var(--light_font), var(--dark_font));
        --h4_color: light-dark(var(--light_h4), var(--dark_h4));
        --em_color: light-dark(var(--light_em), var(--dark_em));
        --math_color: light-dark(var(--light_math), var(--dark_math));
      }
      body {
        background-color: var(--background_color);
        color: var(--font_color);
        margin: 1em 2em;
        font-family: 'Roboto', sans-serif;
        font-weight: 350;
      }
      hr {
        border: 0;
        border-top: 1px solid #888;
      }
      h4 {
        font-size: 120%;
        font-weight: 300;
        color: var(--h4_color);
        letter-spacing: 1px;
      }
      em, i {
        letter-spacing: 1px;
      }
      a { font-style: italic; font-size: 90%; }
      .katex { font-size: 1.1em !important; color: var(--math_color); }
      .footer { text-align: end; }
    </style>
